<form #accessForm="ngForm" layout-padding>
  <div layout="row" flex>
      <mat-form-field flex>
              <input matInput placeholder="Email" ngModel email name="username" required>
      </mat-form-field>
  </div>
  <div layout="row" flex>
      <mat-form-field flex>
          <input matInput placeholder="Password" ngModel name="password" type="password" required>
      </mat-form-field>
  </div>
  <div layout="row" flex>
  </div>
  <div layout="row" flex layout-margin>
      <div layout="column" flex>
          <button mat-raised-button [disabled]="!accessForm.form.valid">Login</button>
      </div>
      <div layout="column" flex>
          <button mat-raised-button color="primary" (click)="onRegisterClick()">Register</button>
      </div>
  </div>
</form>