.input-field {
    width: 50%;
    margin-top: 10px;
}

.buttons {
    margin-top: 10px;
}

.button-login {
    margin-left: 5%;
    margin-right: 5%;
}

.tituloRojo {
    color: rgb(255,0,0);
}

.tituloNegro {
    color: rgb(0,0,0);
}

.tituloVerde {
    color: rgb(0,255,0);
}